{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'cars/css/paginat.css' %}">
{% endblock %}

{% load  brand_tags %}

{% block title %}{{ title }}{% endblock %}

{% block banner %}
{% include 'include/banner_used_cars.html' %}
{% endblock %}


{% block main %}

    <div class="container mt-5">
        <div class="text-center text-dark mt-3 mb-4"><h2>Авто с пробегом</h2></div>
        <div class="row">
            {% for car in page_obj %}
                {% if car.img %}
                    <div class="col-md-4">
                        <div class="card my-4"  style="height: 20rem; width: 22rem; border:2px solid coral">
                            <div style="border:1px solid coral">
                                <a href="{% url 'cars:car_detail' car.brand.slug car.slug %}"><img src="{{ car.img.url }}" class="card-img-top" alt="..."></a>

                            </div>

                            <div class="card-body">
                                <p class="card-text text-center text-dark"><img style="height: 30px;width: 30px; float: left" src="{{ car.brand.image.url }}">
                                     {{ car }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
    </li>
    {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %} ">
            <a class="page-link" href="?page={{page}}">
                {{ page }}
            </a>
        </li>
    {% endfor %}
    <li class="page-item">
        {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
        {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}
